<app-header></app-header>
<h1>Cardápio</h1>
<div class="categoriesButton">
    <button
        mat-stroked-button
        (click)="changeCategory('pratos quentes')"
    >
    Pratos Quentes</button>
    <button
        mat-stroked-button
        (click)="changeCategory('pratos frios')"
    >
    Pratos Frios</button>
    <button
        mat-stroked-button
        (click)="changeCategory('bebidas')"
    >
    Bebidas
    </button>
    <button
        mat-stroked-button
        (click)="getAll()"
    >
    Todos
    </button>
</div>
<mat-card *ngFor="let dish of allDishes" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ dish.title }}</mat-card-title>
      <mat-card-subtitle>{{ dish.category }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ dish.photo }}" alt="{{ dish.title }} - {{ dish.category }}">
    <!-- <mat-card-actions> -->
    <div class="categoriesButton">
      <button mat-stroked-button>LIKE</button>
      <button mat-stroked-button>SHARE</button>
    </div>
    <!-- </mat-card-actions> -->
  </mat-card>
  