<mat-card class="example-card">
    <mat-card-content class="second-card">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Mesa</mat-label>
          <input matInput disabled value="{{ table }}">
        </mat-form-field>
      
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input
              type="text"
              matInput
              placeholder="Digite seu nome"
              [(ngModel)]="name"
              name="name"
              >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>CPF</mat-label>
            <input
              type="text"
              matInput
              [(ngModel)]="cpf"
              name="cpf"
            >
          </mat-form-field>
        </p>
      
    </form>
  <div>
    
    <button
    mat-stroked-button
    color="accent"
    class="example-button-row"
    (click)="handleClick()"
    >Logar</button>
  </div>
  </mat-card-content>
  </mat-card>